@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

/* Additional custom styles */
button:hover {
    background-color: #2980b9 !important;
}

.dash-ag-grid {
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}